.App {
  text-align: center;
}

body {
  background: #bff1d3;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img {
  height: 150px;
  width: 150px;
  border: solid 1px black;
}

h1 {
  color: rgb(123, 34, 34);
}

.buttons-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

button {
  background: rgb(93, 135, 93);
  color: rgb(241, 241, 183);
  padding: 5px;
  border-radius: 5px;
}

button:hover {
   background: rgb(60, 87, 60);
}

.card-block {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.oferta-block {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-top: 70px;
  gap: 10px ;
}