body {
  background: #e0dbdb;
}

p {
  font-size: xx-large;
  font-weight: bold;
}

h1 {
  color: rgb(195, 59, 59);
}

h2 {
  color: rgb(92, 92, 155);
}

h5 {
  color: rgb(195, 59, 59);
  text-align: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.mainApp {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

#logo {
  height: 200px;
  width: 200px;
}

img {
  height: 400px;
}

.book-card {
  margin-top: 100px;
}