body {
  background: rgba(255, 255, 95, 0.597);
}

.App {
  text-align: center;
}

img {
  width: 200px;
  height: 200px;
}

.main-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  margin-bottom: 30px;
}

.ilosc-block {
  display: flex;
  justify-content: space-around;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  color: green;
}

h2 {
  font-weight: 400;
  text-decoration: underline;
  font-style: italic;
  color: blue;
}

h3 {
  color: blue;
}
